*{
    box-sizing: border-box;
}
.mainbody{
    display:grid;
    background: linear-gradient(to top right,var(--cor-one) 0%,var(--cor-four) 100%); 
}
.mainmenu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: transparent;
    border:2px black solid;
}
.mainmenu nav{
    display: flex;
    width: 100%;
    margin: 15px 0px 15px 0px;
    justify-content: space-around;
    height: 35px;
}
.mainmenu nav button{
    border: none;
    font-size: 25px;
    background: transparent;
    color: dodgerblue;
    padding: 0px;
    margin: 0px;
    text-align: center;

}
.mainmenu nav button:hover{
    color: coral;
    background: white;
    font-size:27px;
    text-decoration: none;
    font-style:italic;
    padding:2px;
    border: 1px solid coral;
   
}
.maincontent{
    min-height: 94vh;
}

.iconnav{
    height: 10vh;
    width: 10vw;
    align-self: center;
    
}

@media (max-width:800px){

    .mainbody{
        height: 100%;
   }

   .mainmenu{
        flex-direction: column;
   }
   
   .iconnav{
        height: 10vh;
        width: 10vw;
   }

}